.App {}

.App .logo {
    width: 76px;
}

.App .Header {
    margin-bottom: 30px;
    color: #555;
}

.App .Header>* {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.App .GeneratorForm {
    margin-bottom: 15px;
    background: #ddd;
    padding: 1rem 1rem 0.5rem;
}

.App .GeneratorForm h3 {
    opacity: 0.8;
}

.App .GeneratorForm h4 {
    opacity: 0.6;
}

.App .GeneratorForm>* {
    display: block;
    margin-bottom: 7.5px;
}

.App .GeneratorForm input[type='text'] {
    background: rgba(252, 252, 252, 0.80);
    border: 1px solid #ccc;
    color: #262626;
    font-size: 1.5rem;
    width: 70%;
    padding: 0.5rem 0.75rem;
}

.App .GeneratorForm .OptionGroup .Set {
    display: inline-block;
    width: 150px;
    margin-right: 40px;
    margin-top: -12px;
    margin-bottom: 12px;
}

.App .GeneratorForm .OptionGroup .Set input[type='text'] {
    display: inline-block;
    width: 100%;
    margin-top: -12px;
}

.App .GeneratorForm .SelectOption {
    display: inline-block;
    margin-right: 20px;
}

.App .GeneratorForm .ProcessingCode {
    font-weight: 600;
    font-size: 12px;
    color: #777;
}

.App .GeneratorForm button {
    background: rgba(4, 157, 102, 0.8);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transform: scale(0.9);
}